{% assign highlighted_media = site.data.media | where: "highlight", true %}
{% if highlighted_media.size > 0 %}
<div class="highlighted-media">
  <h2 class="mt-4">Featured In</h2>
  <div class="row">
    {% for item in highlighted_media %}
      <div class="col-md-3 text-center">
        <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/{{ item.logo }}" alt="{{ item.publisher }} logo" style="max-width: 150px; margin-bottom: 1rem;">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
