---
layout: default
---

<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}" class="btn btn-primary" download>Download CV</a>

<div class="post">
  <article>
    <embed src="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" width="{{ site.max_width }}" height="800px" />
  </article>
</div>